# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dependencies files
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*_train
*_test

# Vim SWP files
*.swp

# macOS useless files
.DS_Store

# Others
ai_challenger_zsl2018_train_test_a_20180321/
*.state
*.state_
*.resnet*
